/*.popup__close {
  background-image: url(../../../images/popup-close.svg);
  background-position: center;
  min-height: 26px;
  min-width: 26px;
  background-color: transparent;
  position: absolute;
  top: -40px;
  right: 5px;
  border: none;
  padding: 0;
}

.popup__close:hover {
  cursor: pointer;
  opacity: 0.6;
  transform: rotate(45deg);
}
@media (min-width: 1280px) {
  .popup__close {
    min-height: 40px;
    min-width: 40px;
    top: -40px;
    right: -40px;
  }
}*/
.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url(../../../images/popup-close.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
  transform: rotate(45deg);
}

@media screen and (max-width: 767px) {
  .popup__close {
      width: 20px;
      height: 20px;
      top: -35px;
      right: 5px;
  }
}
