.header__container-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0;
    
}
@media screen and (min-width: 768px){
    .header__container-main{
        padding: 0;
       width: 100vh;
    }
}