.header__button{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right; 
    color: #A9A9A9;
    border: unset;
    background: unset;
    padding: 0;
    margin: 9px 0;
    cursor: pointer;
}

@media screen and (min-width: 768px){
    .header__button{
        margin: 0;
    }
}
